# Inputdata fastq files
fastq_temp/RNA/*
!fastq_temp/RNA/README.md

# Directories produced by running main snakemake-file
fastq
DATA/Pathological_purity_BMS_validation.txt
Results
Arriba_results
STAR
STAR2
ID_SNPs
fusioncatcher
DATA/RNA_*
exon_coverage
STAR_fusion
qc
logs
nr_reads.txt
report.html

# Previous results
*2022_*

# Miscellaneous
.snakemake
.cache
.java
temp
Results_test/*

# Css file for prettier documentation
documentation/css

# Rendered markdown files
*.html
